<!DOCTYPE html>
<html>
    <head>
        <title>razorC.net CMS</title>
        <link href="@Href("~/rcAdmin/css/rcCP.css")" rel="stylesheet" />
        <link href="@Href("~/rcAdmin/css/grid/style.css")" rel="stylesheet" type="text/css" />
         @*<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.6.1.js"></script>  
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/jquery-ui.js"></script>  
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
        <link type="text/css" rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/themes/smoothness/jquery-ui.css" />*@
        @RenderSection("head", required: false)
    </head>
    <body>
    <div id="page">
    <div id="menu">
    <a href="@Href("~/Default")">Your Site</a>
    <ul>
    <li><a href="@Href("Default")">Dashboard</a></li>
    <li><a href="@Href("ChangePassword")">Change Password</a></li>
    </ul>
    <ul>
    <li><a href="@Href("NewPage")">Create Page</a></li>
    <li><a href="@Href("AllPages")">Show All Pages</a></li>
    </ul>
    <ul>
    <li><a href="@Href("SimpleMenu")">Simple Menu</a></li>
    </ul>
      <ul>
    <li><a href="@Href("NewWidget")">Create Widget</a></li>
    <li><a href="@Href("AllWidgets")">Show All Widgets</a></li>
    </ul>
    </div>
    <div id="content">
    <h1>@Page.Title</h1>
        <div id="renderBody">
        @RenderBody()
        </div>
    </div>
    </div>
        
    </body>
</html>
