@{
    
    
    //List all Layout files
    DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath("~/rcLayouts"));
    FileInfo[] fileInfo = dirInfo.GetFiles("_*.cshtml", SearchOption.TopDirectoryOnly  );

    var pId = Request["id"];
    var errMSG = "";
    
    var db = Database.Open("razorC");
    var sqlSelect = " Select * from rc_Pages where pId=@0";
    var data = db.QuerySingle(sqlSelect,pId);

    var pName = data.pName;
    var pTitle = data.pTitle;
    var pText = data.pText;
    var mTitle = data.mTitle;
    var mDescription = data.mDescription;
    var mKeywords = data.mKeywords;
    var pMasterPage = data.pMasterPage;
    var pEditDate = data.pEditDate;
    var pBody = data.pBody;
    
    if (IsPost){

        pName = Request["pName"];
        pTitle = Request["pTitle"];
        pText = Request.Unvalidated("pText");
        mTitle = Request["mTitle"];
        mDescription = Request["mDescription"];
        mKeywords = Request["mKeywords"];
        pMasterPage = Request["pMasterPage"];
        pEditDate = DateTime.Now.ToString();
        pBody = false;
        if(Request["pBody"] == "on"){
            pBody = true;
        }

        var sqlUpdate = "Update rc_Pages set "
            + "pTitle=@0, pText=@1, mTitle=@2, mDescription=@3, mKeywords=@4, pMasterPage=@5, pEditdate=@6, pBody=@7 "
            + "where pId=@8";

        try
        {
            db.Execute(sqlUpdate, pTitle, pText, mTitle, mDescription, mKeywords, pMasterPage, pEditDate, pBody, pId);
            errMSG = "Data saved !";
        }
        catch (Exception ex)
        {

            errMSG = ex.Message.ToString();
        }
        
    }
    
}

@section head {
<!-- You can use any editor you want. We decided to use TinyMCE visit http://tinymce.moxiecode.com/ for licence and help -->
<!-- TinyMCE -->
 <script src="../tiny_mce/tiny_mce_src.js" type="text/javascript"></script>

    <script type="text/javascript">
        var language = navigator.userLanguage;
        tinyMCE.init({
            relative_urls: false,
            // General options
            mode: "textareas",
            theme: "advanced",
            height: "400",
            plugins: "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,netImageBrowser",
            extended_valid_elements: "div[*],iframe[src|width|height|name|align]",

            // Theme options
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,netImageBrowser,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

            // Drop lists for link/image/media/template dialogs
            template_external_list_url: "lists/template_list.js",
            external_link_list_url: "lists/link_list.js",
            external_image_list_url: "lists/image_list.js",
            media_external_list_url: "lists/media_list.js"
        });

    </script>
<!-- /TinyMCE -->
}

<form action="" method="post">
 <fieldset>
        <legend>Edit Page</legend>
        @errMSG
        Edited: @pEditDate 
        <ol>
                <li>
                <label for="pName">Name:</label>
                <input type="text" name="pName" id="pName" value="@pName" readonly="readonly" maxlength="100" />
                </li>

               <li>
                <label for="pMasterPage">Layout:</label>
                <select id="pMasterPage" name="pMasterPage">
               @foreach (var f in fileInfo )
               {
                <option value="@f.Name" @if(pMasterPage==f.Name){<text>selected="selected"</text>}>@f.Name</option>
                }
                </select>
            </li>

                <li>
                <label for="pTitle">Title:</label>
                <input type="text" name="pTitle" id="pTitle" value="@pTitle"  maxlength="250" />
                </li>
                <li>
                <label for="pBody">Render Body:</label>
                <input id="pBody" name="pBody" type="checkbox" @if (pBody){<text>checked="checked"</text>} />
                </li>
            </ol>
            <textarea id="pText" name="pText" cols="80" rows="15">@pText</textarea>
     <input type="submit" name="btnUpdate" value="Update" />
       
</fieldset> 


<fieldset>
        <legend>Edit Meta Tags</legend>
        <ol>
                <li>
                <label for="mTitle">Title:</label>
                <input type="text" name="mTitle" id="mTitle" value="@mTitle" maxlength="100" />
                </li>
                <li>
                <label for="mDescription">Description:</label>
                <input type="text" name="mDescription" id="mDescription" value="@mDescription" maxlength="200" />
                </li>
                <li>
                <label for="mKeywords">Keywords:</label>
                <input type="text" name="mKeywords" id="mKeywords" value="@mKeywords" maxlength="200" />
                </li>
                </ol>
                </fieldset>
</form>